<!DOCTYPE html>

<html>
    <body>
        <table>
            <tr>
                <td>
                    <div style="width: 200px; height: 200px; background-color: grey; border-radius: 10px; border: 2px silver solid">   
                    </div>
                </td>
                <td>
                    <div style="width: 200px; height: 200px; background-color: grey; border-radius: 10px; border: 2px silver solid">   
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="width: 200px; height: 200px; background-color: grey; border-radius: 10px; border: 2px silver solid">   
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>
